@charset "UTF-8";
header {
	position: fixed;
	top: 0;
	left: 0;
	/*   height: 100px; */
	width: 100%;
	background-color: #f9f9f9;
}


.screen_header{
	float: left;
	width: 100%;
/* 	margin-top: 10px; */
	margin-bottom: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	
}

body {
	/* background-color: #f9f9f9;
	margin: 0 auto;
	max-width: 700px;
	max-height: 1050px;
	border: none;
	padding: 10px;
	text-align: center; */
	padding-top:50px;
	padding-bottom:50px;
	overflow-y: visible;
}

input {
	background-image: url('../images/default_img/default_search.png');
	background-repeat: no-repeat;
	background-position: 5px;
	background-size: 13px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	background-color: #E6E6E6;
}

/* .screen_header {
		max-width: 700px;
	height: 100%;
	display: inline-block;
	position: fixed;
	width: 100%;
	height: 100%;
	position: relative;
	margin-top: 10px;
	margin-bottom: 30px;
}
 */
.header_controll_bar {
	float: left;
	width: 100%;
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: 0.5px solid #BDBDBD;
}

#logo_bar {
	width: 55%;
	float: left;
}

#logo_bar>img {
	width: 100px;
	float: left;
	margin-left: 15px;
}

#search_bar {
	width: 35%;
	float: left;
}

.screen_search {
	width: 100%;
	border-radius: 5px;
}

.noti_msg {
	width: 10%;
	float: left;
}

.noti_msg img {
	width: 35%;
	margin-right: 20px;
}

#default_notifi {
	width: 35%;
	margin-left: 60%;
}

#check_notifi {
	width: 35%;
	margin-left: 60%;
}

#default_msg {
	width: 35%;
	margin-left: 90%;
}

.screen_inbody {
	/* max-width: 700px;
	height: 10%;
	display: inline-block;
	position: relative;
	margin-top:10%; */
	/* overflow:scroll; */
	margin: auto;
/* 	width: 75%; */
	height: 620px;
	position: relative;
	overflow-y: scroll;
	text-align: center;
}

.screen_inbody::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.screen_inbody img {
	width: 80%;
}

.inbody_header {
	width: 100%;
	height: 10%;
	float: left;
	background-color: #f29886;
}

.inbody_middle {
	display: inline-block;
	width: 80%;
	height: 70%;
}

.middle_head {
	width: 100%;
	height: 10%;
	display: inline-block;
	margin: 0 auto;
	border: 1px solid #000000;
	margin: 0 auto
}

.follow_profile {
	width: 15%;
	float: left;
	border-radius: 70%;
	overflow: hidden;
}

.follow_profile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.follow_id {
	width: 11%;
	float: left;
	margin-top: 2%;
	margin-right: 30%;
	font-weight: 900;
}

.follow_setting {
	width: 5%;
	margin-top: 2%;
	float: right;
}

.swiper-slide {
	margin: 0 auto;
	width: 80%;
}

.swiper-slide  img {
	width: 100%;
	margin: auto;
	/* 	border: 1px solid #000000;; */
}

.inbody_footer {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	/* 	border-left: 1px solid #000000;
	border-right: 1px solid #000000; */
}

.content_reaction_bar {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	/* 	border-bottom: 0.5px solid #000000; */
}

.follow_id_message {
	/* 	width: 15%; */
	float: left;
	font-weight: 900;
}

.content_message {
	/* 	width: 11%; */
	margin: 0 auto;
	margin-left: 5%;
	float: left;
}

.content_reaction_bar  img {
	width: 25px;
	margin: 0 auto;
	margin-left: 10px;
	float: left;
}

.content_comment {
	margin: 0 auto;
	width: 100%;
	/* 	height: 5px; */ /* 
	border: 0.5px solid #000000; */
	display: inline-block;
	text-align: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	
	/*  background-color: #81c147;*/
}

.commantlist {
	font-size: smaller;
}

.content_reaction_bar .default_bookmark {
	float: right;
	margin-right: 10px;
}

 .content_reaction_bar .chk_bookmark {
	float: right;
	margin-right: 10px;
}
/* 
.screen_footer {
	width: 700px;
	position: fixed;
 	bottom: 0; left: 0;
	width: 700px;
	height: 100px;
		position: fixed;
	position: absolute;
}

.footer_controll_bar {
	width: 100%;
	float: left;
	border-top: 0.5px solid #BDBDBD;
	rgb(var(--ig-elevated-separator))
}

.footer_controll_bar div {
	margin-top: 10px;
	margin-bottom: 10px;
		width: 16%;
		text-align: center;
}

.default_home {
	width: 16%;
	height: 100%;
	margin-left: 10px;
	background-image: url('../images/default_img/default_home.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 30px;
	float: left;
}

.default_search {
	width: 16%;
	height: 100%;
	background-image: url('../images/default_img/default_explore.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 30px;
	float: left;
}

.default_plus {
	width: 16%;
	height: 100%;
	background-image: url('../images/default_img/default_plus.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 30px;
	float: left;
}

.default_video {
	width: 16%;
	height: 100%;
	background-image: url('../images/default_img/default_video.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 30px;
	float: left;
}

.default_message {
	width: 16%;
	height: 100%;
	background-image: url('../images/default_img/default_message.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 30px;
	float: left;
}

.default_profile {
	width: 16%;
	height: 100%;
	background-image: url('../images/privacy_img/profile_coffee.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 30px;
	float: left;
	border-radius: 70%;
	overflow: hidden;
}

.default_profile img {
	width: 30%;
	height: 100%;
	margin-right: 30px;
	object-fit: cover;
} */


footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 8%;
	width: 100%;
	margin-top: 10px;
	background-color: #f9f9f9;
}

.footer_controll_bar {
	float: left;
	width: 100%;
	margin-top: 1.5%;
}

.footer_controll_bar>div {
	width: 15%;
	float: left;
}

.footer_controll_bar>div>img {
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 15px;
	height: 25px;
}

.default_home a img {
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 15px;
	height: 25px;
}

.default_profile a img {
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 15px;
	height: 25px;
}

.default_home {
	margin-left: 7%;
}

.swiper {
	width: 100%;
	height: 100%;
	background-color: #0a0a23;
}

.swiper-wrapper {
	/* wrapperのサイズを調整 */
	width: 100%;
	height: 100%;
}

.swiper-slide {
	/* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
	color: #ffffff;
	width: 100%;
	background-color: #ffffff;

	/*   
	text-align: center;
  line-height: 300px; */
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	/*     object-fit:cover; */
	position: absolute;
	top: 0;
	left: 0;
}

/* ----------------------------------------------------modal ----------------------------------------------------
 */
 
 #modal {
  display:none;
  position:relative;
  width:100%;
  height:100%;
  z-index:3;
}

#modal_header{
	display:inline-block;
}

#modal h2 {
  margin:0;   
}

#modal button {
  display:inline-block;

}

#modal .modal_content {
  width:300px;
  margin:100px auto;
  padding:20px 10px;
  background:#fff;
  border:2px solid #666;
  border-radius: 20px;
}

#modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.8);
  z-index:-1;
}   

#modal_close_btn{
	background-color:transparent;
	color: white;
	margin-left: 90%;
}

.comment_upload_label{
	
	color:  #00aeff;
}

#comment{
	
	 resize: none;
}