<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.instagram.demo.mapper.BookmarkMapper">

	<insert id="Bookmarkin"
		parameterType="com.instagram.demo.dto.BookmarkDTO">
		INSERT into post_bookmark(feed_number,bookmark_user)
		values(#{feed_number},#{account});
	</insert>

	<select id="Bookmarklist"
		resultType="com.instagram.demo.vo.BookmarkVO" parameterType="String">
		select feed_number,bookmark_user from post_bookmark where bookmark_user =#{account};
	</select>

	<delete id="Bookmarkout"
		parameterType="com.instagram.demo.dto.BookmarkDTO">
		DELETE FROM post_bookmark WHERE feed_number= #{feed_number} and bookmark_user= #{account};
	</delete>


</mapper>