<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.instagram.demo.mapper.LikeMapper">
	<insert id="Likein"
		parameterType="com.instagram.demo.dto.LikeDTO">
		insert into post_like(feed_number,like_user)
		values(#{feed_number},#{account});
	</insert>


	<select id="Likelist" resultType="com.instagram.demo.vo.LikeVO" parameterType="String">
		SELECT FEEDNUMBER.feed_number,
			   ACCOUNT.account,
			   LIKECOUNT.likecount
		FROM (SELECT feed_number
				FROM post_like
				WHERE like_user LIKE #{account}
				ORDER BY feed_number DESC) AS FEEDNUMBER,
			(SELECT feed_number, Group_concat(like_user) AS account
			   FROM post_like
			   GROUP BY feed_number
			   ORDER BY feed_number DESC) AS ACCOUNT,
			(SELECT LIKEUSERCECK.feed_number,
					Count(LIKEUSERCECK.feed_number) AS likecount
			   FROM post_like AS LIKEUSERCECK
			  GROUP BY feed_number) AS LIKECOUNT
		WHERE FEEDNUMBER.feed_number = ACCOUNT.feed_number
		AND FEEDNUMBER.feed_number = LIKECOUNT.feed_number
		ORDER BY FEEDNUMBER.feed_number DESC;
	</select>

	<delete id="Likeout"
		parameterType="com.instagram.demo.dto.LikeDTO">
		DELETE FROM post_like WHERE feed_number= #{feed_number}
		and like_user= #{account};
	</delete>

	<!-- <select id="Feedlike" resultType="com.instagram.demo.vo.LikeVO" parameterType="string"> 
		SELECT (select count(feed_number)from post_like where feed_number=1 ) as 
		like_count, like_user from post_like where feed_number=1; </select> -->

</mapper>