<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.instagram.demo.mapper.MypageMapper">
	
	<select id="MyFeedlist"
		resultType="com.instagram.demo.vo.FeedVO" parameterType="string">
		SELECT feed_number,
		       account,
		       comment,
		       picture_address
		FROM   feed_post
		WHERE  account = #{account}
		ORDER  BY feed_number DESC; 
	</select>
	
	<select id="Mybookmarklist"
		resultType="com.instagram.demo.vo.FeedVO" parameterType="string">
		SELECT B.*
		FROM   (SELECT feed_number
        FROM   post_bookmark
        WHERE  bookmark_user = #{account}) AS A
        JOIN feed_post AS B
        ON a.feed_number = b.feed_number
		ORDER  BY created_date DESC; 
	</select>
	
	<select id="MyFollow_Feed_set" 
		resultType="com.instagram.demo.vo.FollowFeedSetVO" parameterType="string">
		SELECT *
		FROM   (SELECT Count(feed_number) AS myfeedcount
		        FROM   feed_post
		        WHERE  account = #{account}) AS myfeedcount,
		       (SELECT Count(number) AS followernum
		        FROM   follow
		        WHERE  follower = #{account}) AS followernum,
		       (SELECT Count(number) AS followeenum
		        FROM   follow
		        WHERE  followee = #{account}) AS followeenum; 
	</select>
</mapper>