.b_account a {
	/* width: 10%; */
	font-size: 2rem;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	/*   height: 100px; */
	width: 100%;
	background-color: #f9f9f9;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 8%;
	width: 100%;
	margin-top: 10px;
	background-color: #f9f9f9;
}

.footer_controll_bar {
	float: left;
	width: 100%;
	margin-top: 1.5%;
}

.footer_controll_bar>div {
	width: 15%;
	float: left;
}

.footer_controll_bar>div>img {
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 15px;
	height: 25px;
}

.default_home a img {
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 15px;
	height: 25px;
}

.default_profile a img {
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 15px;
	height: 25px;
}

.default_home {
	margin-left: 7%;
}

body {
	overflow-y: visible;
}

.header_controll_bar {
	float: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: 0.5px solid #BDBDBD;
}

#setiing_button {
	width: 33%;
	float: left;
}

#setiing_button>img {
	width: 25px;
	height: 25px;
	float: left;
	margin-left: 15px;
	height: 25px;
}

#default_account {
	width: 33%;;
	float: left;
	font-size: large;
	text-align: center;
}

#default_friend {
	width: 33%;
	float: right;
}

#default_friend>img {
	width: 25px;
	height: 25px;
	float: right;
	margin-right: 20px;
	float: right
}

.mypage_body {
	padding-top: 50px;
	padding-bottom: 150px;
}

.body_head {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 200px;
	border-bottom: 0.5px solid #BDBDBD;
}

.body_profile b_head {
	float: left;
}

.b_profile_img {
	display: inline-block;
}

.b_head {
/* 	width: 15%; */
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
}

.b_head img {
	width: 100%;
	height: 75px;
}

.b_account {
/* 	width: 80%; */
/* 	float: left; */
}

.b_account div img {
	width: 25px;
	height: 25px;
}

.b_info {
	width: 100%;
	float: left;
}

.b_info table {
	width: 100%;
	background-color: #f9f9f9;
	margin-top: 20px;
	border-top: 0.5px solid #BDBDBD;
}

.b_info table td {
	width: 33%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.body_body {
	margin-top: 10px;
	width: 100%;
	float: left;
/* 	overflow-y: scroll; */
}

.body_collection>div {
	width: 32%;
	height: 40px;
	display: inline-block;
	background-color: #f9f9f9;
	text-align: center;
}

.body_collection>div>img {
	width: 25px;
	height: 25px;
	margin: 5px;
}

.feed_list {
	margin-top: 3px;
	width: 100%;
/* 	text-align: center; */
}

.feed_list .myfeed {
	width: 48%;
	height: 226px;
	display: inline-block;
	/* border: solid 1px; */
	text-align: center;
	background-color: #f9f9f9;
	margin-right: 5px;
}

.myfeed img {
	width: 100%;
	height: 100%;
	/* 
	height: 100%;
	object-fit:cover;
	
	top: 0;
	left: 0; */
}

.feed_list .bookmarkfeed {
	width: 32%;
	height: 226px;
	display: inline-block;
	border: solid 1px;
	text-align: center;
	background-color: #f9f9f9;
	margin-right: 5px;
}

.bookmarkfeed img {
	width: 100%;
	height: 100%;
	/* 
	height: 100%;
	object-fit:cover;
	
	top: 0;
	left: 0; */
}

@media ( min-width : 512px) {
	.b_account a {
		font-size: 1.3rem;
		float: left;
	}
	
	.feed_list .myfeed {
		width: 32%;
		height: 226px;
		display: inline-block;
		/* border: solid 1px; */
		text-align: center;
		background-color: #f9f9f9;
		margin-right: 5px;
	}
}